<div class="title-2">Compétences</div>
<div class="skills">
    {{#if data.viewMode}}
    {{#each data.skills as |skill id|}}
    <div class="skill fxLayoutRow align-items-baseline fxLayoutGap-8" data-item-id="{{skill.uuid}}">
        <div class="skill-name fxLayoutRow">
            <div>{{skill.label}}{{formatSpecializations skill}}</div>
            <input name="data.skills.{{id}}.specializations" type="hidden" data-dtype="String"
                value="{{skill.specializations}}" />
        </div>
        <div class="dotted-line fxFlex"></div>
        <div class="fxLayoutRow fxLayoutGap-4">
            <span>{{numberFormat skill.value decimals=0 sign=true}}</span>
            <input name="data.skills.{{id}}.augmented" type="hidden" />
            <input name="data.skills.{{id}}.baseValue" type="hidden" data-dtype="Number" value="{{skill.baseValue}}" />
            <a class="action-icon-large rollable" title="Faire un jet de Compétence" data-roll="2d6+1d6+@skills.{{id}}.value"
                data-label="{{skill.label}}"><i class="fas fa-dice-d20"></i></a>
        </div>
    </div>
    {{/each}}
    {{/if}}

    {{#unless data.viewMode}}
    {{#each data.skills as |skill id|}}
    <div class="skill fxLayoutRow align-items-baseline fxLayoutGap-8" data-item-id="{{skill.uuid}}">
        <div class="skill-name flexrow">
            <h4>{{skill.label}}{{formatSpecializations skill}}</h4>
            <input name="data.skills.{{id}}.specializations" type="hidden" data-dtype="String"
                value="{{skill.specializations}}" />
        </div>
        <div class="skill-current-value">
            <span>{{numberFormat skill.value decimals=0}}</span>
            <input name="data.skills.{{id}}.baseValue" type="text" class="skill-value" data-dtype="Number"
                value="{{numberFormat skill.baseValue decimals=0}}" />
        </div>
        <div class="skill-augment flexrow flex-group-left">
            <input name="data.skills.{{id}}.augmented" type="checkbox" {{#if skill.augmented}}checked{{/if}} />
            <span>aug.</span>
        </div>
        <a class="skill-control skill-edit" title="Edit Skill"><i class="fas fa-edit"></i></a>
    </div>
    {{/each}}
    {{/unless}}

</div>