<div class="fxLayoutColumn fxLayoutGap-8">
    <div class="fxLayoutRow flex-group-left fxLayoutGap-8">
        <div class="fxLayoutRow fxFlex align-items-end fxLayoutGap-8">
            <div class="field-label">Points de Vitalité</div>
            <div class="dotted-line fxFlex"></div>
        </div>
        <div class="fxLayoutRow fxLayoutGap-4">
            <input name="data.resources.hp.value" type="text" class="numerical-value" data-dtype="Number"
                value="{{numberFormat data.resources.hp.value decimals=0}}" />
            <span class="resource-separator">/</span>
            <div class="numerical-value">{{numberFormat data.resources.hp.max.value decimals=0}}</div>
        </div>
    </div>

    <div class="fxLayoutRow fxLayoutGap-8">
        <div class="fxLayoutRow fxFlex align-items-end fxLayoutGap-8">
            <div class="field-label">Blessures</div>
            <div class="dotted-line fxFlex"></div>
        </div>
        <div class="fxLayoutRow fxLayoutGap-4">
            <input name="data.resources.wounds.value" type="text" class="numerical-value" data-dtype="Number"
                value="{{numberFormat data.resources.wounds.value decimals=0}}" />
            <span class="resource-separator">/</span>
            <div class="numerical-value">{{numberFormat data.resources.wounds.max.value decimals=0}}</div>
        </div>
    </div>

    <div class="fxLayoutRow fxLayoutGap-8">
        <div class="field-label remove-transform">Bonus Dégâts</div>
        <div class="fxLayoutRow fxLayoutGap-8 fxFlex">
            <div class="fxLayoutRow fxFlex align-items-baseline fxLayoutGap-8">
                <div class="remove-bottom-padding">Corps à corps</div>
                <div class="dotted-line fxFlex"></div>
            </div>
            <div class="numerical-value">{{data.damageBonus.melee.value}}</div>
        </div>
        <div class="fxLayoutRow fxLayoutGap-8 fxFlex">
            <div class="fxLayoutRow fxFlex align-items-baseline fxLayoutGap-8">
                <div class="remove-bottom-padding">Distance</div>
                <div class="dotted-line fxFlex"></div>
            </div>
            <div class="numerical-value">{{data.damageBonus.ranged.value}}</div>
        </div>
    </div>
</div>