// Flexbox.
.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

// Alignment styles.
.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

.fxLayoutColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  &.fxLayoutGap-4 {
    >* {
      margin-block-end: 4px;

      &:last-child {
        margin-block-end: 0;
      }
    }
  }

  &.fxLayoutGap-8 {
    >* {
      margin-block-end: 8px;

      &:last-child {
        margin-block-end: 0;
      }
    }
  }

  &.fxLayoutGap-16 {
    >* {
      margin-block-end: 16px;

      &:last-child {
        margin-block-end: 0;
      }
    }
  }
}

.fxLayoutRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &.fxLayoutGap-4 {
    >* {
      margin-inline-end: 4px;

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }

  &.fxLayoutGap-8 {
    >* {
      margin-inline-end: 8px;

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }

  &.fxLayoutGap-16 {
    >* {
      margin-inline-end: 16px;

      &:last-child {
        margin-inline-end: 0;
      }
    }
  }
}

.fxFlex {
  flex: 1;
}

.axis-align-center {
  justify-content: center;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-stretch {
  align-items: stretch;
}