@font-face {
    font-family: "El Tercer Hombre";
    src: url("../assets/fonts/el-tercer-hombre.ttf");
}

@font-face {
    font-family: "Black Folder";
    src: url("../assets/fonts/black-folder.otf");
}

@font-face {
    font-family: "Saint Tropez";
    src: url("../assets/fonts/saint-tropez.otf");
}