@font-face {
    font-family: "El Tercer Hombre";
    src: url("/systems/wwk/assets/fonts/el-tercer-hombre.ttf");
}

@font-face {
    font-family: "Victor";
    src: url("/systems/wwk/assets/fonts/victor.otf");
}

@font-face {
    font-family: "Saint Tropez";
    src: url("/systems/wwk/assets/fonts/saint-tropez.otf");
}