<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{#if archetype}}
  {{!-- Sheet Header --}}
  <div class="sheet-header fxLayoutRow fxLayoutGap-8">
    <img class="profile-img" src="{{archetype.img}}" data-edit="img" title="{{archetype.name}}" height="100"
      width="100" />
    <section class="fxLayoutColumn align-items-stretch fxLayoutGap-4 fxFlex">
      <div class="fxLayoutRow fxLayoutGap-8">
        <div class="title-3">Acteur</div>
        <input class="fxFlex" name="name" type="text" value="{{actor.name}}" placeholder="Name" />
      </div>
      <div class="title-1">{{archetype.name}}</div>
      <div class="title-2 font-weight-normal">{{archetype.data.description.occupation}}</div>
    </section>
  </div>

  <section>
    {{> "systems/wwk/templates/actor/parts/actor-combat.html"}}
  </section>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="skills">Skills</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Skills Tab --}}
    <div class="tab features" data-group="primary" data-tab="skills">
      <section class="grid grid-3col">

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-3">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in
          module/helpers/templates.mjs --}}
          {{> "systems/wwk/templates/actor/parts/actor-skills.html"}}
        </section>

      </section>
    </div>

  </section>
  {{/if}}
  {{#unless archetype}}
  <div class="fxLayoutColumn axis-align-center align-items-center drop-zone">
    <div>Veuillez glisser un Archétype jusqu'à la fiche de personnage</div>
  </div>
  {{/unless}}
</form>