<div class="fxLayoutColumn fxLayoutGap-8 align-items-stretch">
    <div class="fxLayoutColumn fxLayoutGap-8 align-items-stretch">
        {{#each data.features as |feature id|}}
        <div class="fxLayoutColumn fxLayoutGap-8 align-items-stretch">

            <div class="fxLayoutRow fxLayoutGap-8 feature" data-index="{{id}}">
                <div class="field-label fxFlex">{{feature.id}}</div>
            </div>
            <div>{{readonlyEditor content=feature.description rollData=rollData owner=owner}}</div>

            {{#if feature.bonus}}
            <div class="fxLayoutColumn fxLayoutGap-4 align-items-stretch">
                <div class="title-3 fxFlex">Bonus</div>
                {{#each feature.bonus as |bonus id|}}
                <div class="fxLayoutRow align-items-baseline fxLayoutGap-8">
                    <div>{{bonus.valueLabel}}</div>
                    <div class="dotted-line fxFlex"></div>
                    <div>{{bonus.modifier}}</div>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
</div>