<div class="fxLayoutColumn fxLayoutGap-8 align-items-stretch">
    <div class="fxLayoutRow fxLayoutGap-8 fxFlex">
        <div class="title-2 fxFlex">Compétences améliorées</div>
    </div>
    <div class="fxLayoutColumn fxLayoutGap-8 align-items-stretch">
        {{#each data.boostedSkills as |skill id|}}
        <div class="fxLayoutRow fxLayoutGap-8" data-index="{{id}}">
            <input class="fxFlex" type="text" name="data.boostedSkills" data-dtype="String" value="{{skill}}"/>
        </div>
        {{/each}}
    </div>
</div>