.combat {
    .resource {
        line-height: 26px;
        border: none;
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }

        .resource-name {
            color: $c-dark;
            font-family: "Saint Tropez";
            font-weight: bold;
            text-transform: uppercase;
        }

        .resource-value {
            flex: 0;
            width: 35px;
            min-width: 35px;
            text-align: center;
        }

        .resource-separator {
            flex: 0;
            margin: 0 4px 0 4px;
        }
    }
}