<form class="{{cssClass}} talents fxLayoutColumn" autocomplete="off">
  <section class="fxLayoutColumn fxLayoutGap-8 fxFlex">
    <div class="fxLayoutRow fxLayoutGap-8">
      <div class="title-2">Nom</div>
      <input class="fxFlex" name="name" type="text" value="{{object.name}}" placeholder="Nom" data-dtype="String" />
    </div>

    <div class="fxLayoutColumn fxFlex">
      <div class="title-2">Effet normal</div>
      <div class="free-text fxFlex">
        {{editor content=object.normalEffect target="normalEffect" rollData=rollData button=true editable=true
        owner=owner}}
      </div>
    </div>

    <div class="fxLayoutColumn fxFlex">
      <div class="title-2">Effet héroïque</div>
      <div class="free-text fxFlex">
        {{editor content=object.heroicEffect target="heroicEffect" rollData=rollData button=true editable=true
        owner=owner}}
      </div>
    </div>
  </section>

</form>