<form class="{{cssClass}}" autocomplete="off">
  <div class="fxLayoutColumn fxLayoutGap-16">
    <div class="fxLayoutRow fxLayoutGap-8">
      <div class="title-3">Profil</div>
      <input class="fxFlex" name="name" type="text" value="{{item.name}}" placeholder="Nom" />
    </div>
    <div class="fxLayoutColumn fxLayoutGap-8">
      <div class="fxLayoutRow flex-group-left fxLayoutGap-8">
        <div class="fxLayoutRow fxFlex align-items-end fxLayoutGap-8">
          <div class="field-label">Bonus compétences</div>
          <div class="dotted-line fxFlex"></div>
        </div>
        <input name="data.generalSkillBonus" type="text" class="numerical-value" data-dtype="Number"
          value="{{numberFormat data.generalSkillBonus decimals=0}}" />
      </div>
      <div class="fxLayoutRow flex-group-left fxLayoutGap-8">
        <div class="fxLayoutRow fxFlex align-items-end fxLayoutGap-8">
          <div class="field-label">Bonus compétences améliorées</div>
          <div class="dotted-line fxFlex"></div>
        </div>
        <input name="data.boostedSkillBonus" type="text" class="numerical-value" data-dtype="Number"
          value="{{numberFormat data.boostedSkillBonus decimals=0}}" />
      </div>
    </div>
    {{> "systems/wwk/templates/item/parts/item-profile-skills.html"}}
    {{> "systems/wwk/templates/item/parts/item-profile-features.html"}}
  </div>
</form>